assets/javdin-logo-200-200.kra
assets/javdin-logo-200-200.png
assets/javdin-logo-black-200-200.png
assets/javdin-logo-black.png
assets/javdin-logo.png
assets/team-806-logo.kra
assets/team-806-logo.png
docs/Project D.pdf
assets/2025 CC BS3 01 Project Outline.pdf
demo.sh
